<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>任务管理器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1B3D5881DB5D2A900E7B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B3D5A11DB5D2A900E7B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B3D5AC1DB5D2A900E7B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
